@import './common.scss';

.cv {
  @include flex($direction: column, $gap: 20px);
  width: 595px;
  padding: 15px 20px;
  background: var(--white);
}

.saveBtn {
  position: absolute;
  right: -10%;
  z-index: 2;
  width: 35px;
  height: 35px;
  background: var(--deep-grey);
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  transition: all 0.3s;

  img {
    scale: 0.8;
    transition: all 0.3s;

    &:hover {
      scale: 1;
    }
  }

  &:hover {
    cursor: pointer;
    background: var(--green);
    color: var(--light-grey);
  }
}

.cover {
  position: relative;
}

@media screen and (width < 920px) {
  .saveBtn {
    right: 0;
  }
}

@media screen and (width < 630px) {
  .cover {
    width: fit-content;
  }
  .cv {
    width: 100%;
  }
}

@media screen and (width < 350px) {
  .cv {
    padding: 2%;
  }
}
