@import './variables/fonts.scss';
@import './common.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Poppins';

  --black: #000000;
  --deep-grey: #5c5c5c;
  --light-grey: #f0f0f0;
  --toxic-green: #28d979;
  --white: #ffffff;
  --pearl: #1c252c;
  --yellow: #ddf163;
  --cream: #ebf9f2;
  --green: #149063;
  --blue: #0353a4;
  --red: #e45545;

  color: var(--black);
  background: var(--pearl);
}

body {
  @include flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  text-align: center;
  background: var(--white);
}

.label {
  @include fontShape(14px, 500, 21px);
  text-align: start;
  color: var(--black);
}
