@import '../../../app/styles/common.scss';

.wrapper {
  @include block;
  width: 124px;
  border-radius: var(--radius);
  background: url(../../../shared/assets/images/profileImg.png);
  background-size: cover;
}
