@import '../../../app/styles/common.scss';

.wrapper {
  @include block;
  @include flex($direction: column, $gap: 16px);
  width: 268px;
  height: 100%;
}

.container {
  @include flex(space-between, $wrap: wrap, $gap: 12px);
}

.case {
  @include flex($direction: column, $gap: 8px);
  @include wave;
  width: 116px;
  max-height: 120px;
  height: fit-content;
  background: var(--white);
  border-radius: 10px;
  padding: 8px;
  text-align: start;

  &:first-child {
    background: var(--toxic-green);
    color: var(--white);

    .tags {
      color: var(--cream);
    }
  }
}

.firstContainer {
  @include flex(space-between);
}

.primaryTitle {
  @include fontShape($fw: 500, $lh: 15px);
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}

.secondaryTitle {
  @include fontShape(8px, 400, 12px);

  &:hover {
    cursor: pointer;
  }
}

.tags {
  color: var(--green);
  overflow: hidden;
}

@media screen and (width < 600px) {
  .wrapper {
    width: 100%;
  }
}
