@import '../../app/styles/common.scss';

.overlay {
  @include flex(center, 16px, $alignItems: center);
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(55, 55, 55, 0.431);
  z-index: 3;
  top: 0;
}
.modal {
  @include flex(center, 20px, column, $alignItems: center);
  position: absolute;
  min-width: 200px;
  min-height: 50px;
  margin: 10px;
  font-weight: 900;
  font-style: italic;
  padding: 20px 15px 10px;
  border-radius: 4px;
  background: var(--pearl);
  z-index: 4;
  transform: scale(0);
  transition: all 0.5s;
  color: var(--white);
  user-select: none;

  &-active {
    transform: scale(1);
  }

  input {
    border-radius: 4px;
    padding: 5px;
  }
}

.close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--white);
  position: absolute;
  top: -10%;
  right: -5%;

  &:hover {
    cursor: pointer;
    background: var(--red);

    &:before,
    &:after {
      background: var(--white);
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 2px;
    background: var(--pearl);
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.btnCover {
  @include flex($gap: 7px);
}

.btn {
  @include btn;
}

.cancel {
  @extend .btn;

  &:hover {
    background: var(--red);
  }
}
