@import '../../../app/styles/common.scss';

.wrapper {
  @include block;
  @include flex($direction: column, $gap: 11px);
  @include wave;
  width: 100%;
  background: var(--black);

  h2 {
    color: var(--white);
    max-height: 42px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }
  }
}

.container {
  @include flex($gap: 8px);
  @include fontShape;
  color: #dddddd;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}

.wave {
  @include wave;
}
