@import '../../../app/styles/common.scss';

.wrapper {
  @include block;
  @include flex($direction: column, $gap: 16px);
  width: 267px;
}

.container {
  @include flex($direction: column, $gap: 10px);
}

.line {
  @include flex(start);
  @include wave;
  height: 11px;

  &:hover {
    cursor: pointer;
  }
}

.language {
  @include fontShape(10px, 500, 10.4px);
  width: 58px;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
}

.level {
  flex-grow: 1;
  border-radius: 3px;
}

.fill {
  height: 100%;
  background: var(--toxic-green);
}
