@import '../../../app/styles/common.scss';

.wrapper {
  @include block;
  @include flex(space-between, $direction: column);
  width: 124px;
  background: var(--light-grey);

  p {
    @include fontShape(10px, 500, 15px);
    text-align: left;
    word-wrap: break-word;

    &:hover {
      cursor: pointer;
    }
  }

  h1 {
    @include fontShape(14px, 600, 14.56px);
    color: var(--black);
    text-align: left;

    &:hover {
      cursor: pointer;
    }
  }
}

.field {
  @include fontShape(12px, 500, 18px);
  text-align: left;
  color: var(--deep-grey);
}
