@import '../../../app/styles/common.scss';

.wrapper {
  @include block;
  @include flex(space-between, $direction: column);
  width: 124px;
  background: var(--light-grey);
  text-align: left;

  h1 {
    @include fontShape(14px, 600, 14.56px);
    @include wave;
    color: var(--black);
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }
  }
}

.greet {
  @include fontShape(10px, 500, 15px);
  @include wave;
  word-wrap: break-word;

  &:hover {
    cursor: pointer;
  }
}

.field {
  @include fontShape(12px, 500, 18px);
  @include wave;
  color: var(--deep-grey);
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}
